<?xml version="1.0" encoding="UTF-8" standalone="no"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"><listeners><listener class-name="com.vtg.auto.reports.ExtentITestListenerClassAdapter"/></listeners><test name="Test1"><classes><class name="com.vtg.auto.vtghometestnew.VTGHomeTest1"><methods><include name="VerifyLoginTest1"/><include name="VerifyLoginTest2"/><include name="VerifyLoginTest3"/><include name="VerifyLoginTest4"/></methods></class></classes></test><test name="Test2"><classes><class name="com.vtg.auto.vtghometest.VTGHomeTest"><methods><include name="VerifyLoginTest1"/><include name="VerifyLoginTest2"/><include name="VerifyLoginTest3"/><include name="VerifyLoginTest4"/></methods></class></classes></test></suite>